body {
    margin: 0;
    padding: 0;
   
}

.nav {
    padding: 10px;
    list-style-type: none;
    text-align: center;
    font-weight: 700;
    text-decoration: none;
    font-family: BentonSansBook;
    
}

    .nav li {
        display: inline-block;
        text-decoration: none;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .nav a {
        text-decoration: none;
    }

h1 {
    font-size: 2.5em;
    text-align: center;
}

h2 {
    font-size: xx-large;
    text-align: center;
    height: 56px;
}

.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
    padding-left: 20px;
    padding-right: 50px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

div.banner {
    padding: 10px;
    text-align: center;
    background-image: url('../randomimage/newarrivalbridalslide1.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 324px;
}

.galleryslideshow {
    width: inherit;
    position: relative;
    margin: auto;
    top: 24px;
    left: 58px;
}

.slideshowphoto {
    display: none;
}

footer {
    text-align: center;
    background-color: #ffffff;
    display: block;
    bottom: 0;
    width: 100%;
    height: 60px;
    font-family: Calibri;
    font-size: 20px;
    color: #808080;
}

.bg-img {
    /* The image used */
    background-image: url('../randomimage/background.jpg');

    /* Control the height of the image */
    min-height: 380px;

    /* Center and scale the image nicely */
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
}
Map {
    position: absolute;
    border: 2px solid #000;
    width: 700px;
    height: 500px;
}
table, td, th {
    border: 0px solid black;

}

table {
    margin: auto;
    border-collapse: collapse;
    width: 98%;
    height: 329px;
    position: relative;
    top: 5px;
    left: -5px;
    right: 6px;
    padding-left: 10px;
    padding-right: 10px;
}

td {
    height: 50px;
    vertical-align: bottom;
    width: 20%;
}
table.center {
    margin-left: auto;
    margin-right: auto;
}
input[type=text], select, textarea {
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    margin-left: 78px;
    text-align: center;
}

input[type=submit] {
    border-style: none;
    border-color: inherit;
    border-width: medium;
background-color: #FF9999;
    color: white;
    padding: 12px 20px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #45a049;
    }

/* Style the container/contact section */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
    float: left;
    width: 31%;
    margin-top: 0px;
    padding: 20px;
    height: 419px;
    margin-right: 0px;
    margin-left: 196px;
    text-align: left;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
